    .header-up-left li:hover {
        transition: all 0.5s;
    }

    .header-up-left ul {
        padding: 0;
        margin: 0;
        height: 40px;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }

    .header-up-left ul li {
        width: 90px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .header-up-left ul li a {
        text-decoration: none;
        color: #5e5c5c;
        font-size: 13px;
        font-weight: bold;
        font-family: 'Lota Grotesque', sans-serif;
        cursor: pointer;
        position: relative;
    }

    .header-up-left ul li:nth-child(2) {
        position: relative;
    }

    .header-up-left ul li:nth-child(2)::after {
        content: '';
        width: 2px;
        height: 20px;
        right: 5px;
        position: absolute;
        background-color: rgb(197, 197, 197);
    }

    .header-up-left ul li:nth-child(3) {
        position: relative;
    }

    .header-up-left ul li:nth-child(3)::after {
        content: '';
        width: 2px;
        height: 20px;
        right: 7px;
        position: absolute;
        background-color: rgb(197, 197, 197);
    }

    .header-up-left ul li a:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 2px;
        background-color: red;
        transform: scaleX(0);
        transform-origin: left;
        transition: all 0.5s;
    }

    .header-up-left ul li a:hover {
        color: black
    }

    .header-up-left ul li a:hover:after {
        transform: scaleX(1);
    }

    .border {
        width: 100%;
        height: 2px;
    }

    .header-up-center {
        margin-left: 126px;
    }

    .header-up-center ul {
        padding: 0;
        margin: 0;
        height: 40px;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
    }

    .header-up-center ul li {
        width: 90px;
        height: 40px;
        display: flex;
        align-items: center;
    }

    .header-up-center ul li i {
        color: black;
    }

    .header-up-center ul li a {
        text-decoration: none;
        color: #5e5c5c;
        font-size: 13px;
        font-family: 'Lota Grotesque', sans-serif;
        cursor: pointer;
        position: relative;
        font-weight: bold;
    }

    .header-up-right {
        display: flex;
        gap: 10px;
    }

    .header-up-right .icon {
        display: flex;
        text-align: center;
        justify-content: space-evenly;
        margin-top: 5px;
        font-size: 22px;
        width: 70px;
        height: 30px;
        border: 1px solid rgb(204, 202, 202);
        border-radius: 20px;
        cursor: pointer;
    }

    .header-up-right .icon .icon-1 {
        color: red;
        margin-top: -3px
    }

    .header-up-right .icon .icon-2 {
        color: grey;
        font-weight: bold;
        margin-top: -3px
    }

    .header-up-right select {
        margin-top: 5px;
        width: 80px;
        height: 30px;
        border: 1px solid rgb(204, 202, 202);
        border-radius: 20px;
        -webkit-appearance: none;
        padding-left: 15px;
        color: rgb(85, 85, 85);
        cursor: pointer;
    }

    .header-up-right .select i {
        position: absolute;
        margin-left: -35px;
        margin-top: 12px;
        color: rgb(85, 85, 85);
        cursor: pointer;
    }

    .header-up-right option {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .header-down-left {
        display: flex;
        margin-top: 30px;
    }

    .header-down-left .content ul {
        display: flex;
        list-style: none;
        gap: 20px;
    }

    .header-down-left .content ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 13px;
    }

    .header-down-left .content i {
        font-size: 10px;
        color: grey;
    }

    .header-down-left .logo img {
        height: 20px;
        width: 98px;
        margin-top: -10px;
    }

    .header-down-left .content ul li a:hover {
        color: red;
    }

    .header-down-left .content ul li:hover a i {
        rotat: 180deg;
    }

    .col-12 {
        display: flex;
        justify-content: space-between;
    }

    .header-down-right svg {
        font-size: 22px;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .header-down-right .menu-bar {
        width: 50px;
        height: 50px;
        margin-top: -10px;
        border-radius: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(245, 245, 245)
    }

    .header-down-right {
        display: flex;
        margin-top: 30px;
        margin-right: 150px;
        gap: 30px;
    }

    .header-down-right .join ul {
        list-style: none;
    }

    .header-down-right .join {
        margin-left: -50px;
    }

    .header-down-right .join ul li a {
        text-decoration: none;
        font-weight: bold;
        color: #e00034;
        font-size: 13px;
    }

    .header-down-right .login {
        margin-top: -6px;
    }

    .header-down-right .login button {
        color: #e00034;
        width: 120px;
        height: 40px;
        border: none;
        background-color: white;
        border-radius: 13px;
        font-weight: bold;
        font-size: 13px;
    }

    .header-down-right .login button:hover {
        border: 2px solid #e00034;
        ;
        border-radius: 10px;
    }

    .header-up-right ul li:nth-child(1) {
        position: relative;
    }

    .header-up-right ul li:nth-child(1)::after {
        content: '';
        width: 2px;
        height: 20px;
        right: 7px;
        position: absolute;
        background-color: rgb(197, 197, 197);
    }

    .img-text {
        display: flex;
        justify-content: space-between;
        background-color: #e00034;
        margin-top: 10px;
        width: 100%;
        height: 640px;

    }

    .img-text .slide-img img {
        height: 655px;
        margin-top: -16px;
        margin-left: 10px;
    }

    .img-text .text {
        margin-left: 300px;
        margin-top: 180px;
        color: white;
    }

    .img-text .text p {
        font-weight: bold;
        font-size: 17px;
    }

    .img-text .text h1 {
        font-weight: bold;
        font-size: 60px;
    }

    .points {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 350px;
        height: 10px;
        position: absolute;
        margin-top: -100px;
        margin-left: 320px;
    }

    .points .point {
        display: inline;
        width: 10px;
        height: 10px;
        border-radius: 50px;
        background-color: rgb(223, 223, 223)
    }

    #main-area .population {
        display: flex;
        margin-top: 100px;
        gap: 30px;

    }

    #main-area .card-1 {
        height:650px;
        border: 2px solid rgb(176, 175, 175);
        border-radius: 10px;
        margin-top: 50px;
        cursor: pointer;
    }

    #main-area .card-1 span{
        color: grey;
    }

    #main-area .card-1:hover{
        border: 2px solid red;
    }
    
    #main-area .population h1 {
        font-weight: bold;
        font-size: 45px;
    }

    #main-area .online-rates h2{
        margin-top: 10px;
        margin-left: 18px;
    }

    #main-area .online-rates .mobil{
        display: flex;
        gap: 10px;
        margin-left: 18px;
        font-family:'Times New Roman', Times, serif sans-serif
    }

    #main-area .online-rates .mobil p{
        color: grey;
    }

    #main-area .online-rates .mobil .div{
        width: 15px;
        height: 20px;
        display: flex;
        justify-content:center ;
        align-items: center;
        background-color:rgb(203, 201, 201);
        border-radius: 2px;

    }

    #main-area .internet-item {
        display: flex;
        margin-left: 10px;
        gap: 10px;
        margin-top: 20px;

    }

    #main-area .internet-item p{
        font-weight: bold;
        font-size: 18px;
    }

    #main-area .intranet-call {
        display: flex;
        margin-left: 10px;
        gap: 10px;
        margin-top: 20px;

    }

    #main-area .intranet-call .call p{
        font-weight: bold;
        font-size: 18px;
    }


    #main-area .social-media {
        display: flex;
        margin-left: 10px;
        gap: 10px;
        margin-top: 20px;

    }

    #main-area .social-media p{
        font-weight: bold;
        font-size: 18px;
    }


    #main-area .social-media img{
        width: 42px;
        height: 42px;
    }

    #main-area .card-1 .social-media .icons{
        margin-left: 60px;

    }

    #main-area .price {
        display: flex;
        margin-left: 10px;
        margin-top: 20px;
        gap: 10px;    
    }

    #main-area .price .line{
        width: 2px;
        height: 20px;
        background-color: black;
        margin-top: 8px;
    }

    #main-area .price h5{
        margin-top: 5px;
        font-weight: bold;
    }

    #main-area .card-1 .border-1{
        width: 92%;
        height: 2px;
        background-color: rgb(222, 219, 219);
        margin-top: 8px;
        margin-left: 17px;
    }

    #main-area .card-1 .btn button{
        margin-left: 15px;
        margin-top: 100px;
        background-color: #e00034;
        width: 350px;
        height: 60px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        color: white;
    }

    #main-area .card-1 .btn button:hover{
        background-color: #b8032d;
        transition: all 0.5;
    }

    #main-area .card-1 h4{
        font-size: 17px;
        color: grey;
    }

    #main-area .card-1 .social-media .wp {
        margin-left: 150px;

    }

    #main-area .price-3 {
        display: flex;
        margin-left: 10px;
        margin-top: 193px;
        gap: 10px;    
    }

    #main-area .price-3 .line{
        width: 2px;
        height: 20px;
        background-color: black;
        margin-top: 8px;
    }

    #main-area .price-3 h5{
        margin-top: 5px;
        font-weight: bold;
    }

    .esim-text {
        display: flex;
        justify-content: space-between;
        background-color: #e00034;
        margin-top: 100px;
        border-radius: 10px;
        width: 100%;
        height: 500px;

    }

    .esim-text .esim-img img {
        height: 516px;
        margin-top: -16px;
        margin-left: 10px;
    }

    .esim-text .text {
       margin-top: 100px;
       margin-left: 100px;
        color: white;
    }

    .esim-text .text p {
        margin-top: 30px;
        font-weight: bold;
        font-size: 17px;
    }

    .esim-text .text h1 {
        font-weight: bold;
        font-size: 60px;
    }

    #main-area .esim-btn button{
        margin-top: 30px;
        background-color: white;
        width: 150px;
        height: 60px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        color:  #b8032d;
    }

  
    .volte {
        display: flex;
        justify-content: space-between;
        background-color:whitesmoke;
        margin-top: 100px;
        border-radius: 10px;
        width: 100%;
        height: 500px;
    
    }
    
    .volte .lte-img img {
        height: 516px;
        margin-top: -16px;
        margin-left: 10px;
    }
    
    .volte .lte-text {
       margin-top: 100px;
       margin-left: 100px;
    }
    
    .volte .lte-text p {
        margin-top: 30px;
        font-weight: bold;
        font-size: 17px;
        color: grey;
    }
    
    .volte .lte-text h1 {
        font-weight: bold;
        font-size: 60px;
    }
    
    #main-area .lte-btn button{
        margin-top: 30px;
        background-color:#e00034;
        width: 150px;
        height: 60px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        color:  white;
    }
    
    
    #main-area .card-1 .btn-4 button{
        margin-left: 30px;
        margin-top: 19px;
        background-color: #e00034;
        width: 350px;
        height: 60px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        color: white;
    }

    #main-area .card-1 .btn-4 button:hover{
        background-color: #b8032d;
        transition: all 0.5;
    }

    #main-area .card-1 .btn-5 button{
        margin-left: 30px;
        margin-top: 194px;
        background-color: #e00034;
        width: 350px;
        height: 60px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        color: white;
    }

    #main-area .card-1 .btn-5 button:hover{
        background-color: #b8032d;
        transition: all 0.5;
    }


    .rouminq {
        display: flex;
        justify-content: space-between;
        background-color:#e00034;
        margin-top: 100px;
        border-radius: 10px;
        width: 100%;
        height: 500px;
    
    }
    
    .rouminq .rouminq-img img {
        height: 516px;
        margin-top: -16px;
        margin-left: 10px;
    }
    
    .rouminq .rouminq-text {
       margin-top: 100px;
       margin-left: 100px;
    }
    
    .rouminq .rouminq-text p {
        margin-top: 30px;
        font-weight: bold;
        font-size: 17px;
        color: white;
    }
    
    .rouminq .rouminq-text h1 {
        font-weight: bold;
        font-size: 60px;
        color: white
    }
    
    #main-area .rouminq-btn button{
        margin-top: 30px;
        background-color:white;
        width: 150px;
        height: 60px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        color:  #e00034;
    }


    .intranet-call .item-5 img{
        width: 42px;
        height: 42px;
    }


    #main-area .card-1 .btn-8 button{
        margin-left: 30px;
        margin-top: 200px;
        background-color: #e00034;
        width: 350px;
        height: 60px;
        font-size: 20px;
        border: none;
        border-radius: 10px;
        color: white;
    }

    #main-area .card-1 .btn-8 button:hover{
        background-color: #b8032d;
        transition: all 0.5;
    }


    #main-area .price-3 {
        display: flex;
        margin-left: 10px;
        gap: 10px;   
        margin-top: 100px; 
    }

    #main-area .price-3.line{
        width: 2px;
        height: 20px;
        background-color: black;
        margin-top: 8px;
    }

    #main-area .price-3 h5{
        margin-top: 5px;
        font-weight: bold;
    }